@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar-item {
    font-weight: 600;
}

.navbar-item:hover {
    text-decoration: none;
    color: inherit;
}

button.hamburger {
    @apply bg-neutral-100 dark:bg-gray-900 pr-2 pl-2 pt-1 pb-1 text-black dark:text-white focus:outline-none outline-none rounded
}

button.hamburger:hover {
    outline: none;
    cursor: pointer;
}