@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

a:hover {
  text-decoration: underline;
}


input {
 @apply dark:bg-gray-800 dark:hover:bg-gray-900 bg-white text-black dark:text-white pt-2 pb-2 pl-3 pr-3 w-full  focus:outline-2 focus:outline-offset-2 focus:outline-green-800  rounded
}



button {
  @apply bg-green-800 pr-4 pl-4 pt-2 pb-2 text-white focus:outline-2 focus:outline-offset-2 focus:outline-green-800 active:bg-green-800 rounded-full
}

button:hover {
  @apply bg-green-900;
  cursor: pointer;
}